# Join Tables

In [1]:
import pandas as pd

In [2]:
positions = pd.read_excel("./data/uswnt2019.xlsx", sheet_name='positions')
posTop3 = pd.read_excel("./data/uswnt2019.xlsx", sheet_name='posTop3') 
uswnt = pd.read_excel("./data/uswnt2019.xlsx", sheet_name='uswnt')
uswntTop3 = pd.read_excel("./data/uswnt2019.xlsx", sheet_name='uswntTop3')

In [3]:
uswntTop3

          Player  Goals
0    Alex Morgan      6
1  Megan Rapinoe      6
2   Rose Lavelle      3

In [4]:
posTop3

          Player    Position
0   Rose Lavelle  midfielder
1    Alex Morgan     forward
2  Megan Rapinoe     forward

We can use the join function to merge two DataFrames using any variables with the same names as key variables.

In [5]:
top_players = uswntTop3.join(posTop3.set_index('Player'), on='Player')
top_players

          Player  Goals    Position
0    Alex Morgan      6     forward
1  Megan Rapinoe      6     forward
2   Rose Lavelle      3  midfielder

In [6]:
uswnt_positions = uswnt.join(positions.set_index('Player'), on='Player')
uswnt_positions

                 Player         Date      Oponent  Goals    Position
0           Carli Lloyd  16-Jun-0019        Chile      1     forward
1            Julie Ertz  16-Jun-0019        Chile      1  midfielder
2         Lindsey Horan  20-Jun-0019       Sweden      1  midfielder
3   opponent - own goal  20-Jun-0019       Sweden      1     unknown
4         Megan Rapinoe  24-Jun-0019        Spain      2     forward
5         Megan Rapinoe  28-Jun-0019       France      2     forward
6        Christen Press  02-Jul-0019      England      1     forward
7           Alex Morgan  02-Jul-0019      England      1     forward
8         Megan Rapinoe  07-Jul-0019  Netherlands      1     forward
9          Rose Lavelle  07-Jul-0019  Netherlands      1  midfielder
10          Alex Morgan  11-Jun-0019     Thailand      5     forward
11         Rose Lavelle  11-Jun-0019     Thailand      2  midfielder
12        Lindsey Horan  11-Jun-0019     Thailand      1  midfielder
13       Samantha Mewis  11-Jun-0019     Thailand      2  midfielder
14        Megan Rapinoe  11-Jun-0019     Thailand      1     forward
15         Mallory Pugh  11-Jun-0019     Thailand      1     forward
16          Carli Lloyd  11-Jun-0019     Thailand      1     forward