# Update Table Variable Names

In [1]:
import pandas as pd

In [2]:
teamInfo = pd.read_csv("./data/EPLteams.csv", encoding='latin-1')
teamInfo

,Team,Payroll_M__,Manager,ManagerHireDate,ManagerNationality
0,Leicester City,48.2,Claudio Ranieri,07/13/2015,Italy
1,Arsenal,192.0,Arsène Wenger,10/01/1996,France
2,Tottenham Hotspur,110.5,Mauricio Pochettino,05/27/2014,Argentina
3,Manchester City,193.8,Manuel Pellegrini,06/14/2013,Chile
4,Manchester United,203.0,Louis van Gaal,07/14/2014,Netherlands
5,Southampton,59.5,Ronald Koeman,06/16/2014,Netherlands
6,West Ham United,69.5,Slaven Bili?,06/09/2015,Croatia
7,Liverpool,152.0,Jürgen Klopp,10/08/2015,Germany
8,Stoke City,72.3,Mark Hughes,05/30/2013,Wales
9,Chelsea,215.6,Guus Hiddink,12/19/2015,Netherlands
10,Everton,74.7,David Unsworth,05/12/2016,England
11,Swansea City,51.0,Francesco Guidolin,01/18/2016,Italy
12,Watford,29.0,Quique Sánchez Flores,06/05/2015,Spain
13,West Bromwich Albion,68.5,Tony Pulis,01/01/2015,Wales
14,Crystal Palace,54.3,Alan Pardew,01/02/2015,England
15,Bournemouth,25.0,Eddie Howe,10/12/2012,England
16,Sunderland,71.0,Sam Allardyce,10/09/2015,England
17,Newcastle United,75.8,Rafael Benítez,03/11/2016,Spain
18,Norwich City,37.0,Alex Neil,01/09/2015,Scotland
19,Aston Villa,65.1,Eric Black,03/29/2016,Scotland

In [3]:
teamInfo.columns

Index(['Team', 'Payroll_M__', 'Manager', 'ManagerHireDate',
       'ManagerNationality'],
      dtype='object')

In [4]:
teamInfo.rename(columns={'Payroll_M__': 'Payroll'}, inplace=True)
teamInfo

,Team,Payroll,Manager,ManagerHireDate,ManagerNationality
0,Leicester City,48.2,Claudio Ranieri,07/13/2015,Italy
1,Arsenal,192.0,Arsène Wenger,10/01/1996,France
2,Tottenham Hotspur,110.5,Mauricio Pochettino,05/27/2014,Argentina
3,Manchester City,193.8,Manuel Pellegrini,06/14/2013,Chile
4,Manchester United,203.0,Louis van Gaal,07/14/2014,Netherlands
5,Southampton,59.5,Ronald Koeman,06/16/2014,Netherlands
6,West Ham United,69.5,Slaven Bili?,06/09/2015,Croatia
7,Liverpool,152.0,Jürgen Klopp,10/08/2015,Germany
8,Stoke City,72.3,Mark Hughes,05/30/2013,Wales
9,Chelsea,215.6,Guus Hiddink,12/19/2015,Netherlands
10,Everton,74.7,David Unsworth,05/12/2016,England
11,Swansea City,51.0,Francesco Guidolin,01/18/2016,Italy
12,Watford,29.0,Quique Sánchez Flores,06/05/2015,Spain
13,West Bromwich Albion,68.5,Tony Pulis,01/01/2015,Wales
14,Crystal Palace,54.3,Alan Pardew,01/02/2015,England
15,Bournemouth,25.0,Eddie Howe,10/12/2012,England
16,Sunderland,71.0,Sam Allardyce,10/09/2015,England
17,Newcastle United,75.8,Rafael Benítez,03/11/2016,Spain
18,Norwich City,37.0,Alex Neil,01/09/2015,Scotland
19,Aston Villa,65.1,Eric Black,03/29/2016,Scotland