# Subsets of the EPL Data

In [1]:
import pandas as pd

In [2]:
EPL = pd.read_csv("./data/EPLresults.csv", dtype={'Team': str})
EPL = EPL.sort_values(by=["HomeWins", "AwayWins"], ascending=False, ignore_index=True)
EPL

,Team,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Leicester City',12,6,1,35,18,11,6,2,33,18
1,'Arsenal',12,4,3,31,11,8,7,4,34,25
2,'Manchester City',12,2,5,47,21,7,7,5,24,20
3,'Manchester United',12,5,2,27,9,7,4,8,22,26
4,'Southampton',11,3,5,39,22,7,6,6,20,19
5,'Tottenham Hotspur',10,6,3,35,15,9,7,3,34,20
6,'West Ham United',9,7,3,34,26,7,7,5,31,25
7,'Liverpool',8,8,3,33,22,8,4,7,30,28
8,'Stoke City',8,4,7,22,24,6,5,8,19,31
9,'Swansea City',8,6,5,20,20,4,5,10,22,32
10,'Newcastle United',7,7,5,32,24,2,3,14,12,41
11,'Watford',6,6,7,20,19,6,3,10,20,31
12,'Crystal Palace',6,3,10,19,23,5,6,8,20,28
13,'Everton',6,5,8,35,30,5,9,5,24,25
14,'West Bromwich Albion',6,5,8,20,26,4,8,7,14,22
15,'Norwich City',6,5,8,26,30,3,2,14,13,37
16,'Sunderland',6,6,7,23,20,3,6,10,25,42
17,'Chelsea',5,9,5,32,30,7,5,7,27,23
18,'Bournemouth',5,5,9,23,34,6,4,9,22,33
19,'Aston Villa',2,5,12,14,35,1,3,15,13,41

In [3]:
bottom_goals = EPL.iloc[-3:][["HomeGF", "AwayGF"]]
bottom_goals

    HomeGF  AwayGF
17      32      27
18      23      22
19      14      13

We can use the [drop()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html#pandas-dataframe-drop) function to remove variables from a DataFrame.

In [4]:
EPL.drop(columns=['HomeGF', 'HomeGA'], inplace=True)
EPL

,Team,HomeWins,HomeDraws,HomeLosses,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Leicester City',12,6,1,11,6,2,33,18
1,'Arsenal',12,4,3,8,7,4,34,25
2,'Manchester City',12,2,5,7,7,5,24,20
3,'Manchester United',12,5,2,7,4,8,22,26
4,'Southampton',11,3,5,7,6,6,20,19
5,'Tottenham Hotspur',10,6,3,9,7,3,34,20
6,'West Ham United',9,7,3,7,7,5,31,25
7,'Liverpool',8,8,3,8,4,7,30,28
8,'Stoke City',8,4,7,6,5,8,19,31
9,'Swansea City',8,6,5,4,5,10,22,32
10,'Newcastle United',7,7,5,2,3,14,12,41
11,'Watford',6,6,7,6,3,10,20,31
12,'Crystal Palace',6,3,10,5,6,8,20,28
13,'Everton',6,5,8,5,9,5,24,25
14,'West Bromwich Albion',6,5,8,4,8,7,14,22
15,'Norwich City',6,5,8,3,2,14,13,37
16,'Sunderland',6,6,7,3,6,10,25,42
17,'Chelsea',5,9,5,7,5,7,27,23
18,'Bournemouth',5,5,9,6,4,9,22,33
19,'Aston Villa',2,5,12,1,3,15,13,41

We can use indexing to reorder elements.

In [5]:
EPL = EPL.iloc[:, [0, 1, 4, 2, 5, 3, 6]]
EPL

,Team,HomeWins,AwayWins,HomeDraws,AwayDraws,HomeLosses,AwayLosses
0,'Leicester City',12,11,6,6,1,2
1,'Arsenal',12,8,4,7,3,4
2,'Manchester City',12,7,2,7,5,5
3,'Manchester United',12,7,5,4,2,8
4,'Southampton',11,7,3,6,5,6
5,'Tottenham Hotspur',10,9,6,7,3,3
6,'West Ham United',9,7,7,7,3,5
7,'Liverpool',8,8,8,4,3,7
8,'Stoke City',8,6,4,5,7,8
9,'Swansea City',8,4,6,5,5,10
10,'Newcastle United',7,2,7,3,5,14
11,'Watford',6,6,6,3,7,10
12,'Crystal Palace',6,5,3,6,10,8
13,'Everton',6,5,5,9,8,5
14,'West Bromwich Albion',6,4,5,8,8,7
15,'Norwich City',6,3,5,2,8,14
16,'Sunderland',6,3,6,6,7,10
17,'Chelsea',5,7,9,5,5,7
18,'Bournemouth',5,6,5,4,9,9
19,'Aston Villa',2,1,5,3,12,15