# Export EPL Table

In [1]:
import pandas as pd

In [2]:
EPL = pd.read_csv("./data/EPLtable.csv")
EPL

,Team,Points,HomeWins,HomeDraws,HomeLosses,AwayWins,AwayDraws,AwayLosses,GoalDifference
0,Leicester City,81,12,6,1,11,6,2,32
1,Arsenal,71,12,4,3,8,7,4,29
2,Tottenham Hotspur,70,10,6,3,9,7,3,34
3,Manchester City,66,12,2,5,7,7,5,30
4,Manchester United,66,12,5,2,7,4,8,14
5,Southampton,63,11,3,5,7,6,6,18
6,West Ham United,62,9,7,3,7,7,5,14
7,Liverpool,60,8,8,3,8,4,7,13
8,Stoke City,51,8,4,7,6,5,8,-14
9,Chelsea,50,5,9,5,7,5,7,6
10,Everton,47,6,5,8,5,9,5,4
11,Swansea City,47,8,6,5,4,5,10,-10
12,Watford,45,6,6,7,6,3,10,-10
13,West Bromwich Albion,43,6,5,8,4,8,7,-14
14,Crystal Palace,42,6,3,10,5,6,8,-12
15,Bournemouth,42,5,5,9,6,4,9,-22
16,Sunderland,39,6,6,7,3,6,10,-14
17,Newcastle United,37,7,7,5,2,3,14,-21
18,Norwich City,34,6,5,8,3,2,14,-28
19,Aston Villa,17,2,5,12,1,3,15,-49

We can use the [to_csv()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html#pandas-dataframe-to-csv) function to create a file from a table.

In [3]:
EPL.to_csv("./data/EPL2015-16.csv")

You can specify a delimiter, such as tab, when creating the file.

In [4]:
EPL.to_csv("./data/EPL2015-16.txt", sep="\t")