# Import EPL Data

In [1]:
import pandas as pd

We can use the [read_csv()](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas-read-csv) function to import the data from a csv file into a DataFrame.

In [2]:
EPL = pd.read_csv("./data/EPLresults.csv")
EPL

,Team,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Arsenal',12,4,3,31,11,8,7,4,34,25
1,'Aston Villa',2,5,12,14,35,1,3,15,13,41
2,'Bournemouth',5,5,9,23,34,6,4,9,22,33
3,'Chelsea',5,9,5,32,30,7,5,7,27,23
4,'Crystal Palace',6,3,10,19,23,5,6,8,20,28
5,'Everton',6,5,8,35,30,5,9,5,24,25
6,'Leicester City',12,6,1,35,18,11,6,2,33,18
7,'Liverpool',8,8,3,33,22,8,4,7,30,28
8,'Manchester City',12,2,5,47,21,7,7,5,24,20
9,'Manchester United',12,5,2,27,9,7,4,8,22,26
10,'Newcastle United',7,7,5,32,24,2,3,14,12,41
11,'Norwich City',6,5,8,26,30,3,2,14,13,37
12,'Southampton',11,3,5,39,22,7,6,6,20,19
13,'Stoke City',8,4,7,22,24,6,5,8,19,31
14,'Sunderland',6,6,7,23,20,3,6,10,25,42
15,'Swansea City',8,6,5,20,20,4,5,10,22,32
16,'Tottenham Hotspur',10,6,3,35,15,9,7,3,34,20
17,'Watford',6,6,7,20,19,6,3,10,20,31
18,'West Bromwich Albion',6,5,8,20,26,4,8,7,14,22
19,'West Ham United',9,7,3,34,26,7,7,5,31,25

There are several ways to store text. Strings (created with double quotation marks) are the easiest to use in most cases. To ensure text is imported as a string, we set the dtype property to string.

In [3]:
EPL = pd.read_csv("./data/EPLresults.csv", dtype={'Team': str})
EPL

,Team,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Arsenal',12,4,3,31,11,8,7,4,34,25
1,'Aston Villa',2,5,12,14,35,1,3,15,13,41
2,'Bournemouth',5,5,9,23,34,6,4,9,22,33
3,'Chelsea',5,9,5,32,30,7,5,7,27,23
4,'Crystal Palace',6,3,10,19,23,5,6,8,20,28
5,'Everton',6,5,8,35,30,5,9,5,24,25
6,'Leicester City',12,6,1,35,18,11,6,2,33,18
7,'Liverpool',8,8,3,33,22,8,4,7,30,28
8,'Manchester City',12,2,5,47,21,7,7,5,24,20
9,'Manchester United',12,5,2,27,9,7,4,8,22,26
10,'Newcastle United',7,7,5,32,24,2,3,14,12,41
11,'Norwich City',6,5,8,26,30,3,2,14,13,37
12,'Southampton',11,3,5,39,22,7,6,6,20,19
13,'Stoke City',8,4,7,22,24,6,5,8,19,31
14,'Sunderland',6,6,7,23,20,3,6,10,25,42
15,'Swansea City',8,6,5,20,20,4,5,10,22,32
16,'Tottenham Hotspur',10,6,3,35,15,9,7,3,34,20
17,'Watford',6,6,7,20,19,6,3,10,20,31
18,'West Bromwich Albion',6,5,8,20,26,4,8,7,14,22
19,'West Ham United',9,7,3,34,26,7,7,5,31,25

You can use the [describe()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas-dataframe-describe) function to display a summary of each variable.

In [4]:
EPL.describe().applymap('{:.2f}'.format)

,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
count,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00
mean,7.85,5.35,5.80,28.35,22.95,5.80,5.35,7.85,22.95,28.35
std,2.87,1.69,2.88,8.24,6.89,2.46,1.87,3.59,6.98,7.51
min,2.00,2.00,1.00,14.00,9.00,1.00,2.00,2.00,12.00,18.00
25%,6.00,4.75,3.00,21.50,19.75,4.00,4.00,5.00,19.75,22.75
50%,7.50,5.00,5.00,29.00,22.50,6.00,5.50,7.50,22.00,27.00
75%,10.25,6.00,8.00,34.25,27.00,7.00,7.00,10.00,27.75,32.25
max,12.00,9.00,12.00,47.00,35.00,11.00,9.00,15.00,34.00,42.00