# Analysis with EPL Table Data

In [1]:
import pandas as pd

In [2]:
EPL = pd.read_csv("./data/EPLresults.csv", dtype={'Team': str})
EPL

,Team,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Arsenal',12,4,3,31,11,8,7,4,34,25
1,'Aston Villa',2,5,12,14,35,1,3,15,13,41
2,'Bournemouth',5,5,9,23,34,6,4,9,22,33
3,'Chelsea',5,9,5,32,30,7,5,7,27,23
4,'Crystal Palace',6,3,10,19,23,5,6,8,20,28
5,'Everton',6,5,8,35,30,5,9,5,24,25
6,'Leicester City',12,6,1,35,18,11,6,2,33,18
7,'Liverpool',8,8,3,33,22,8,4,7,30,28
8,'Manchester City',12,2,5,47,21,7,7,5,24,20
9,'Manchester United',12,5,2,27,9,7,4,8,22,26
10,'Newcastle United',7,7,5,32,24,2,3,14,12,41
11,'Norwich City',6,5,8,26,30,3,2,14,13,37
12,'Southampton',11,3,5,39,22,7,6,6,20,19
13,'Stoke City',8,4,7,22,24,6,5,8,19,31
14,'Sunderland',6,6,7,23,20,3,6,10,25,42
15,'Swansea City',8,6,5,20,20,4,5,10,22,32
16,'Tottenham Hotspur',10,6,3,35,15,9,7,3,34,20
17,'Watford',6,6,7,20,19,6,3,10,20,31
18,'West Bromwich Albion',6,5,8,20,26,4,8,7,14,22
19,'West Ham United',9,7,3,34,26,7,7,5,31,25

We can add a new variable.

In [3]:
total_wins = EPL.HomeWins + EPL.AwayWins
EPL["TotalWins"] = total_wins

In [4]:
EPL["TotalDraws"] = EPL.HomeDraws + EPL.AwayDraws

To calculate a team's points, each win is worth three points and each draw worth one point.

In [5]:
EPL["Points"] = 3 * EPL.TotalWins + EPL.TotalDraws
EPL = EPL.sort_values(by="Points", ascending=False, ignore_index=True)

In [6]:
EPL.drop(columns=["HomeDraws", "HomeLosses", "HomeWins", "AwayDraws", "AwayLosses", "AwayWins"], inplace=True)

You can use the [insert()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.insert.html#pandas-dataframe-insert) and [pop()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pop.html#pandas-dataframe-pop) functions to move a column to a new location in a table.

In [7]:
EPL.insert(loc=1, column="Points", value=EPL.pop("Points"))
EPL

,Team,Points,HomeGF,HomeGA,AwayGF,AwayGA,TotalWins,TotalDraws
0,'Leicester City',81,35,18,33,18,23,12
1,'Arsenal',71,31,11,34,25,20,11
2,'Tottenham Hotspur',70,35,15,34,20,19,13
3,'Manchester United',66,27,9,22,26,19,9
4,'Manchester City',66,47,21,24,20,19,9
5,'Southampton',63,39,22,20,19,18,9
6,'West Ham United',62,34,26,31,25,16,14
7,'Liverpool',60,33,22,30,28,16,12
8,'Stoke City',51,22,24,19,31,14,9
9,'Chelsea',50,32,30,27,23,12,14
10,'Everton',47,35,30,24,25,11,14
11,'Swansea City',47,20,20,22,32,12,11
12,'Watford',45,20,19,20,31,12,9
13,'West Bromwich Albion',43,20,26,14,22,10,13
14,'Crystal Palace',42,19,23,20,28,11,9
15,'Bournemouth',42,23,34,22,33,11,9
16,'Sunderland',39,23,20,25,42,9,12
17,'Newcastle United',37,32,24,12,41,9,10
18,'Norwich City',34,26,30,13,37,9,7
19,'Aston Villa',17,14,35,13,41,3,8